@font-face{
    font-family: "Bukhari";
    src: url("../Fonts/Bukhari/Bukhari.ttf");
}
@font-face {
    font-family: "Gagalin";
    src: url("../Fonts/Gagalin/Gagalin-Regular.otf");
}
html{
    height: 100%;
}
body {
    height: 100%;
    background-image: url("../Images/Background.png");
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#Page{
    position: absolute;
    background-color: #C4FFD8;
    width: 50%;
    margin-left: 25%;
    height: max-content;
}
#MainPage {
    background-image: url("../Images/FruitBackgroundPic.jpg");
    opacity: 0.85;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
    width: 100%;
    margin-top: 102px;
}
ul{
    list-style: none;
    display: inline;
    margin-left: 50px;
}
li{
    font-size: 28px;
    color: white;
    display: inline-block;
    margin-left: 45px;
    margin-right: 45px;
}
a {
    color: inherit;
    text-decoration: none;
}
#PageName{
    padding-top: 0;
    position: fixed;
    display: inline-block;
    margin-left: 25%;
    top: 13px;
    float: left;
    font-family: "Bukhari", serif;
    font-size: 53px;
    color: #FFDE59;
}
#Login{
    color : black;
    font-size: 20px;
    background-color: #FFDE59; /* Green */
    border: none;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    display: inline-block;
}
.Tools{
    height: 30px;
    width: 30px;
}
#Korpa{
    margin-right: 20px;
    width: 40px;
}

#Tools{
    float: right;
    margin-right: 26.5%;
    margin-top: -10px;
}
#Search{
    height: 30px;
    width: 180px;
}
header{
    top:0;
    left:0;
    width:100%;
    height: 100px;
    padding: 10px 10px 0 10px;
    background-color: black;
    position: fixed;
    min-height: 0;
    z-index: 9;
}
#logo{
    width: 120px;
    height: 70px;
    margin-left: 25%;
    display: inline;
    top: 0;
    float: left;
}
#Markets{
    width: 69%;
    position: relative;
    height: max-content;
    display: inline-block;
    float: left;
}
.Markets{
    display: inline-block;
    width: 180px;
    height: 180px;
    float: left;
    padding-left: 30px;
    margin-top: 10px;
}
#Vero{
    height: 100px;
    width: 200px;
}
#Kam{
    width: 100px;
    height: 100px;
}
#Stokomak{
    height: 100px;
    width: 220px;
}
#Tinex{
    height: 150px;
    width: 300px;
}
#Granap{
    width: 300px;
}
#Zito{
    height: 100px;
    width: 250px;
}
#Ramstore{
    height: 150px;
    width: 250px;
}
#BestSalesHeader{
    font-family: "Gagalin", serif;
}
#BestSales{
    display: inline-block;
    float: right;
    width: 30%;
    height: max-content;
    position: relative;
}
#Help{
    height: 200px;
    width: 100%;
    bottom: 0;
    float: left;
}
#footer {
    margin-left: -8px;
    top: 124.5%;
    width:100%;
    height: 100px;
    padding: 20px 10px 0 10px;
    background-color: black;
    position: relative;
    min-height: 0;
}
#Widgets{
    margin-left: 27%;
    display: inline-block;
}
.Widgets{
    height: 50px;
    width: 50px;
}
#Contact{
    color: white;
    float: right;
    margin-right: 28%;
}
#Dialog{
    display: none;
}